<!-- /* per background */ -->
<div id="tuodiv">
  <img src="http://2.bp.blogspot.com/-PwuGU12pRcU/UGtMsd6b3WI/AAAAAAAAIr0/qgGN9JRojaM/s1600/Neckarsulm-AudiForum-mitLogo-061118.JPG" alt="">
</div>

<p *ngIf="isAutenticato(); else alternativa">
<!-- deve passare al componente benvenuto -->
<!-- soluzione temporanea -->
  <app-benvenuto></app-benvenuto>
</p>

<ng-template #alternativa>
  <div class="center">
  <div class="form-floating mb-3">
    <b><h4>Inserire le credenziali d'accesso</h4></b>
    <input type="text" class="form-control" id="floatingInput" placeholder="Username"
    [(ngModel)]="utente">
    <label for="floatingInput"></label>
  </div>
  <div class="form-floating">
    <input type="password" class="form-control" id="floatingPassword" placeholder="Password"
    [(ngModel)]="pwd">
    <label for="floatingPassword"></label>
  </div>
  <div>
    <button (click)="autenticazione()" class="btn btn-outline-primary">CONTROLLA</button> &nbsp;
    <button (click)="alerta5()" class="btn btn-outline-primary">AIUTO</button><br> &nbsp;  
  </div>
</div>
</ng-template>

