<!-- div per img di sfondo -->
<div id="tuodiv">
</div>
<!-- login -->
<div class="center">
  <div class="form-floating mb-3">
    <!-- scritta "inserire credenziali d accesso" -->
    <img src="https://github.com/MatioliSimone/copertinaIMG/blob/main/cooltext383877895692414.png?raw=true" height="35.3" width="427.3" alt="">
    <!-- label Username -->
    <input type="text" class="form-control" id="floatingInput" placeholder="Username"
    [(ngModel)]="utente">
    <label for="floatingInput"></label>
  </div>
  <div class="form-floating">
    <!-- label Password -->
    <input type="password" class="form-control" id="floatingPassword" placeholder="Password"
    [(ngModel)]="pwd">
    <label for="floatingPassword"></label>
  </div>
  <!-- bottoni di controllo e di aiuto -->
  <div>
    <button (click)="autenticazione()" class="btn btn-outline-primary" routerLink="/benvenuto">CONTROLLA</button> &nbsp;
    <!-- aiuto per l'utente  -->
    <button (click)="alerta5()" class="btn btn-outline-primary">AIUTO</button><br>
    
  </div>
</div>