.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
h4{
  color: red;
}
/* per non poter salvare le password e disattivare gli alert di chrome */
#floatingPassword{
  -webkit-text-security:disc;
}