<!-- /* per background */ -->
<div id="tuodiv">
  <img src="https://github.com/MatioliSimone/copertinaIMG/blob/main/sfondo.JPG?raw=true" alt="">
</div>

  <div class="center">
  <div class="form-floating mb-3">
    <b><h4>Inserire le credenziali d'accesso</h4></b>
    <input type="text" class="form-control" id="floatingInput" placeholder="Username"
    [(ngModel)]="utente">
    <label for="floatingInput"></label>
  </div>
  <div class="form-floating">
    <input type="password" class="form-control" id="floatingPassword" placeholder="Password"
    [(ngModel)]="pwd">
    <label for="floatingPassword"></label>
  </div>
  <div>
    <button (click)="autenticazione()" class="btn btn-outline-primary" routerLink="/benvenuto">CONTROLLA</button> &nbsp;
    <button (click)="alerta5()" class="btn btn-outline-primary">AIUTO</button><br> &nbsp;  
  </div>
</div>

