.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
h4{
  color: red;
  font-family: Georgia, serif;
  font-size: 19px;
  letter-spacing: 2px;
  word-spacing: 2px;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: small-caps;
  text-transform: capitalize;
}
/* per non poter salvare le password e disattivare gli alert di chrome */
#floatingPassword{
  -webkit-text-security:disc;
}
/* per background */
body{
  height: 100%
}
#tuodiv {
  background-position: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(images/bg.jpg) no-repeat center top;
  position: fixed; 
  z-index: -1;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}