<!-- <h2>da inserire i 2 modelli scelti dall utente per il confronto!</h2>
<img class="imgSinistra" src="https://github.com/MatioliSimone/copertinaIMG/blob/main/copertinaIMG-main/Audi%20a1.jpg?raw=true" height="250" width="445" alt="">
<img class="imgDestra" src="https://github.com/MatioliSimone/copertinaIMG/blob/main/copertinaIMG-main/Audi%20a1.jpg?raw=true" height="250"  width="445" alt="">

<div  class="center">
</div> -->

<div class="column">
<h3> veicolo 1 </h3>
<p align='justify'> LyX è un word processor multi-piattaforma open source che potete usare con linux,
Windows o col Mac. </p>
</div>



<div class="column">
<h3> veicolo 2 </h3>
<p align='justify'> Immaginate poter scrivere un documento come un libro o una lunga tesi divisa in
capitoli, sezioni e sottosezioni. Poi si dice al programma di creare l'indice e lui lo crea. </p>
</div>