<div class="container">
  <div class="column">
    <div class="sliders">
      <h3> veicolo 1 </h3>
      <p  *ngFor="let modello of elencoModelli; index as i" [ngClass]="{'active':corrente==i}" (click)="corrente=i">
        <a href="{{modello.configura}}">
          <img class="imgSinistra" src="{{modello.img}}" height="250" width="445">
        </a>
      </p>
    </div>
  </div>
</div>

<div class="container">
  <div class="column">
    <div class="sliders">
      <h3> veicolo 1 </h3>
      <p  *ngFor="let modello of elencoModelli; index as i" [ngClass]="{'active':corrente==i}" (click)="corrente=i">
        <a href="{{modello.configura}}">
          <img class="imgSinistra" src="{{modello.img}}" height="250" width="445">
        </a>
      </p>
    </div>
  </div>
</div>