<!-- logo audi -->
<div class="text-center" routerLink="/visualizza">
  <a>
    <img src="https://raw.githubusercontent.com/MatioliSimone/copertinaIMG/main/1200px-Audi-Logo_2016.svg.png" class="rounded" height="75" alt="...">
  </a>
</div>
<hr>

<div class="container-fluid">
  <div class="row justify-items-center">
    <div class="col-md-4 col-sm-5 align-middle">
      <div class="card-body">
        <img src="{{elencoModelli[0].img}}" class="card-img-top">
        <div class="card">
          <b><h5>{{elencoModelli[0].id}}</h5></b>
          <dl class="row">
            <dt class="col-sm-4">Prezzo:</dt>
            <dd class="col-sm-8">
              <p>{{elencoModelli[0].prezzo}}</p>
            </dd>
            <dt class="col-sm-4">Cavalli:</dt>
            <dd class="col-sm-8">{{elencoModelli[0].cv}}</dd>

            <dt class="col-sm-4 text-truncate">Peso:</dt>
            <dd class="col-sm-8">{{elencoModelli[0].peso}}</dd>

            <dt class="col-sm-4 text-truncate">Accelerazione:</dt>
            <dd class="col-sm-8">{{elencoModelli[0].accelerazione}}</dd>

            <dt class="col-sm-4 text-truncate">Tipologia Motore:</dt>
            <dd class="col-sm-8">{{elencoModelli[0].motore}}</dd>
          </dl>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-2 align-middle">
      <div>
          <img src="https://github.com/MatioliSimone/copertinaIMG/blob/main/prova.png?raw=true" class="vs" alt="">
      </div>
      
    </div>

    <div class="col-md-4 col-sm-5 align-middle">
      <div class="card-body">
        <img src="{{elencoModelli[1].img}}" class="card-img-top">
        <div class="card">
          <b><h5>{{elencoModelli[1].id}}</h5></b>
          <dl class="row">
            <dt class="col-sm-4">Prezzo:</dt>
            <dd class="col-sm-8">
              <p>{{elencoModelli[1].prezzo}}</p>
            </dd>
            <dt class="col-sm-4">Cavalli:</dt>
            <dd class="col-sm-8">{{elencoModelli[1].cv}}</dd>

            <dt class="col-sm-4 text-truncate">Peso:</dt>
            <dd class="col-sm-8">{{elencoModelli[1].peso}}</dd>

            <dt class="col-sm-4 text-truncate">Accelerazione:</dt>
            <dd class="col-sm-8">{{elencoModelli[1].accelerazione}}</dd>

            <dt class="col-sm-4 text-truncate">Tipologia Motore:</dt>
            <dd class="col-sm-8">{{elencoModelli[1].motore}}</dd>
          </dl>

        </div>
      </div>
    </div>
  </div>