<!-- nel caso non avessimo già selezionato i due modelli da confrontare  -->
<div *ngIf="getContatoreLength() < 2; else nonConfronta">
  <div class="text-center">
    <!-- reindirizzo al sito web ufficiale dell'Audi nel caso in cui l'utente clicca sul logo -->
    <a href="https://www.audi.it/it/web/it.html">
      <img src="https://raw.githubusercontent.com/MatioliSimone/copertinaIMG/main/1200px-Audi-Logo_2016.svg.png" class="rounded" height="75" alt="...">
    </a>
  </div>
  <hr>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <!-- genero tutte le card(prese da bootstrap) tramite un ciclo for che legge l'elenco dei modelli contenuti nell elenco-modelliService -->
    <div class="col" *ngFor="let modello of elencoModelli;index as i" [ngClass]="{'active':corrente==i}"
      (click)="corrente=i">
      <!-- genero l'immagine per ogni carta tramite la String Interpolation-->
      <div class="card-body">
        <img src="{{modello.img}}" class="card-img-top">
        
        <div class="card">
          <b><h5>{{modello.id}}</h5></b>
          
          <dl class="row">
            <dt class="col-sm-5">Prezzo:</dt>
            <dd class="col-sm-7">{{modello.prezzo}}</dd>

            <dt class="col-sm-5">Cavalli:</dt>
            <dd class="col-sm-7">{{modello.cv}}</dd>
          </dl>
          <button (click)="addConfronto(modello)" class="btn btn-outline-success">aggiungi al confronto</button>
          <button (click)="remConfronto(modello)" class="btn btn-outline-danger my-1">rimuovi dal confronto</button>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <!-- una volta cliccato il bottone l'utente verrà reindirizzato al login  -->
  <button (click)="tornaLogin(false)" class="btn btn-outline-primary" id="tornaLogin" routerLink = "/">torna al login</button>
</div>
<!-- una volta selezionati i due modelli verrà posta una domanda all'utente -->
<ng-template #nonConfronta>
  <div class="center">
    <h1>desidera procedere con il confronto?</h1>
    <button type="button" class="btn btn-outline-success" routerLink = "/confronto">SI</button> &nbsp;
    <button type="button" class="btn btn-outline-danger" routerLink = "/visualizza" (click)="AzzeraContatore()">NO</button>
  </div>
</ng-template>