div {
  text-align: center;
}
.rem {
  background-color: red;
}
.card-img-top {
margin:35px;
transition: 1.2s ease;
display: block; margin-left: auto; margin-right: auto;
}
.card-img-top:hover{
transform : scale(1.20);
}
/* BtnAggiungi */
.BtnAggiungi{
  transition-duration: 1.0s;
}
.BtnAggiungi:hover{
  background-color: #4CAF50;
  color: white;
}
.BtnAggiungi:active{
  animation: myAnim 0.1s ease-out 0s 2 alternate-reverse forwards;
}
/* .BtnRimuovi */
.BtnRimuovi{
  transition-duration: 1.0s;
}
.BtnRimuovi:hover{
  background-color: #f10a0a;
  color: white;
}
.BtnRimuovi:active{
  animation: myAnim 0.1s ease-in 0s 2 alternate-reverse forwards;
}
.row{
  text-align: left;
  margin-left: 0.2%;
}
h5{
  color: rgb(24, 124, 7);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.rounded{
margin:35px;
transition: 1.0s ease;
display: block; margin-left: auto; margin-right: auto;
}
.rounded:hover{
transform : scale(1.60);
}
.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
img#imgDestra{
  text-align: left;
}
.tornaLogin {
  font-family: "Arial Black", Gadget, sans-serif;
  display: inline-block;
  background: #4285f4;
  width: 81.4%;
  color: #fff;
  text-transform: uppercase;
  padding: 20px 30px;
  border-radius: 5px;
  box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  -webkit-transition: all ease-in-out 300ms;
  transition: all ease-in-out 300ms;
}
.tornaLogin:hover {
  box-shadow: 0px 37px 20px -20px rgba(0, 0, 0, 0.2);
  -webkit-transform: translate(0px, -10px) scale(1.2);
          transform: translate(0px, -10px) scale(1.2);
}
/* animazione btn aggiungi*/
@keyframes myAnim {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}
/* conferma confronto */
h1{
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 25px;
  letter-spacing: -0.8px;
  word-spacing: 1.2px;
  color: rgb(0, 4, 255);
  font-weight: 700;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: normal;
  font-variant: small-caps;
  text-transform: capitalize;
}